* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: red;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #333;
    padding: 10px 0;
    position: sticky;
    top: 0%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .brand {
    font-size: 32px;
    text-decoration: none;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul#user_info {
    display: none;
    align-items: center;
}

nav ul#user_info li {
    position: relative;
    margin: 0 7px;
}

nav ul#user_info li i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

nav ul#user_info .carts-products {
    position: absolute;
    width: 200px;
    transform: translate(-42%);
    -webkit-transform: translate(-42%);
    -moz-transform: translate(-42%);
    -ms-transform: translate(-42%);
    -o-transform: translate(-42%);
    background-color: #eaeaea;
    top: 46px;
    padding: 10px;
    border: 1px solid green;
    display: none;
}

nav ul#user_info .carts-products a {
    background-color: darkgreen;
    display: block;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    width: 100%;
}

nav ul#user_info li .badge {
    width: 20px;
    height: 20px;
    background-color: crimson;
    color: #fff;
    text-align: center;
    display: block;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -9px;
    right: -11px;
    font-size: 10px;
    line-height: 20px;
    display: none;
}

nav li a {
    display: block;
    color: #fff;
    max-width: 70px;
    margin: 0 5px;
    padding: 5px;
}


/* Form  */

.section-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
    background-color: #bc6ff1;
    padding: 20px;
}

.section-form h2 {
    font-size: 50px;
    letter-spacing: 2px;
    color: #52057b;
}

.section-form form {
    background-color: #bc6ff1;
}

.section-form form input {
    display: block;
    width: 100%;
    margin: 5px 0;
    height: 40px;
    border: 1px solid #ddd;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}

.section-form form input[type=submit] {
    font-size: 25px;
    text-transform: uppercase;
    height: auto;
    cursor: pointer;
}

.section-form form input[type=submit]:hover {
    opacity: 0.8;
}


/* Products  */

.products {
    width: 60%;
    margin: 10px 0px;
}

.product-item {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.product-item-img {
    width: 25%;
    margin-right: 10px;
}

.product-item-actions {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item-desc a {
    display: block;
    font-size: 25px;
    color: #333;
    cursor: pointer;
}

.product-item .add-to-cart {
    display: block;
    margin-left: auto;
    background-color: darkgreen;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.product-item-actions .favorite {
    cursor: pointer;
    display: block;
    width: 20px;
    margin-left: auto;
}

#search {
    width: 100%;
    height: 40px;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 15px;
}


/*  Cart Details */

.item-details img {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #333;
    padding: 2px;
    height: 400px;
    object-fit: cover;
}